@import '~taro-ui/dist/style/index.scss';
button {
  border-radius: 0;
  &::after {
    border-width: 0;
  }
}

@font-face{
  font-family: 'Arch';
  src:url("./assets/font/ArchitectsDaughter-Regular.ttf");
}

page{
  font-family: 'Arch';
}
form {
  display: block;
}

@mixin ab_mid($width){
  position: absolute;
  top:0;
  left: calc(50% - $width / 2);
}

$theme_color:#000;
