.tabBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 58PX;
  background: white;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
  box-shadow: 0PX 4PX 60px 0px rgba(0, 0, 0, 0.085),0PX 4PX 60px 0px rgba(0, 0, 0, 0.085);
  justify-content: center;
  padding: 0 80px;
}

.tabBarBorder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1PX;
  transform: scaleY(0.5);
}

.tabBarItem {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:nth-child(3){
    transform-origin: 50% 50%;
  }
}

.tabBarItem cover-image {
  width: 24PX;
  height: 24PX;
}

.tabBarItem cover-view {
  font-size: 12PX;
}
