.card{
  background: rgba(210,209,210,.9);
  border-radius: 10PX;
  color: #fff;
  padding: 30px;
  width: 360rpx;
  height: 260PX;
  box-shadow: 2PX 8px 16PX rgb(210,209,210);
  .card_top{
    font-size: 40PX;
  }
}