@mixin ab_mid($width){
  position: absolute;
  top:0;
  left: calc(50% - $width / 2);
}
$wid:39PX;
$color:#00D5D1;
.login_btn{
  width: 90vw;
  position: absolute;
  bottom: 40vh;
  left: 5%;
  background: transparent;
  border: 2rpx solid $color;
  border-radius: 24PX;
  // transition: all .3s ease;
  transition-property: width, left;
  transition-duration: .3s;
  transition-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48PX;
  overflow: visible;
  .login_txt{
    color:#fff;
    font-size: 24PX;
    line-height: 48PX;
  }
  &.loading_btn{
    width: 48PX;
    // border-width: 4PX;
    left: calc(50% - 44rpx);
  }
  &.success_btn{
    background: $color;
  }
}


.fingerprint-spinner, .fingerprint-spinner  {
  box-sizing: border-box;
}

.fingerprint-spinner {
  height: 48PX;
  width: 48PX;
  padding: 2px;
  overflow: hidden;
  position: relative;
  animation: appear 500ms cubic-bezier(0.680, -0.750, 0.265, 1.750);
}

.fingerprint-spinner .spinner-ring {
  position: absolute;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color:#20B2AA;
  animation: fingerprint-spinner-animation 1500ms cubic-bezier(0.680, -0.750, 0.265, 1.750) infinite forwards;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
$fg_wid:48PX;
.fingerprint-spinner .spinner-ring:nth-child(1) {
  height: calc(42PX / 9 + 0 * 42PX / 9);
  width: calc(42PX / 9 + 0 * 42PX / 9);
  animation-delay: calc(50ms * 1);
}

.fingerprint-spinner .spinner-ring:nth-child(2) {
  height: calc(42PX / 9 + 1 * 42PX / 9);
  width: calc(42PX / 9 + 1 * 42PX / 9);
  animation-delay: calc(50ms * 2);
}

.fingerprint-spinner .spinner-ring:nth-child(3) {
  height: calc(42PX / 9 + 2 * 42PX / 9);
  width: calc(42PX / 9 + 2 * 42PX / 9);
  animation-delay: calc(50ms * 3);
}

.fingerprint-spinner .spinner-ring:nth-child(4) {
  height: calc(42PX / 9 + 3 * 42PX / 9);
  width: calc(42PX / 9 + 3 * 42PX / 9);
  animation-delay: calc(50ms * 4);
}

.fingerprint-spinner .spinner-ring:nth-child(5) {
  height: calc(42PX / 9 + 4 * 42PX / 9);
  width: calc(42PX / 9 + 4 * 42PX / 9);
  animation-delay: calc(50ms * 5);
}

.fingerprint-spinner .spinner-ring:nth-child(6) {
  height: calc(42PX / 9 + 5 * 42PX / 9);
  width: calc(42PX / 9 + 5 * 42PX / 9);
  animation-delay: calc(50ms * 6);
}

.fingerprint-spinner .spinner-ring:nth-child(7) {
  height: calc(42PX / 9 + 6 * 42PX / 9);
  width: calc(42PX / 9 + 6 * 42PX / 9);
  animation-delay: calc(50ms * 7);
}

.fingerprint-spinner .spinner-ring:nth-child(8) {
  height: calc(42PX / 9 + 7 * 42PX / 9);
  width: calc(42PX / 9 + 7 * 42PX / 9);
  animation-delay: calc(50ms * 8);
}

.fingerprint-spinner .spinner-ring:nth-child(9) {
  height: calc(42PX / 9 + 8 * 42PX / 9);
  width: calc(42PX / 9 + 8 * 42PX / 9);
  animation-delay: calc(50ms * 9);
}

@keyframes fingerprint-spinner-animation {
  100% {
    transform: rotate( 360deg );
  }
}
@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}