
.index{
  font-size: 14PX;
  position: relative;
  .year_cho{
    width: auto;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 5vh;
    left: calc(50% - 50px);
    display: grid;
    place-items: center;
    padding-top: 20PX;
    z-index: 2;
    .year_txt{
      font-size: 28PX;
      font-weight: 700;
    }
  }
  .swiper{
    position: absolute;
    top:13vh;
    width: 100%;
    overflow: visible;
    height: 63vh;
  }
  .s_item{
    overflow: visible;
    padding-top: 36PX;
    display: flex;
    justify-content: center;
  }
  .open_cal{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 77vh;
    width: 160px;
    left: calc(50% - 80px);
    .open_btn{
      width: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10PX;
      padding: 2PX 8PX;
      padding-top: 3PX;
      border-radius: 20PX;
      color: #888888;
      
      transition: background .4s linear;
    }
    .front_btn {
      color: #888888;
      border: 2px solid rgb(223, 222, 222);
      background: #fff;
    }
    .back_btn{
      color: #fff;
      background: #000;
      border: 2px solid rgba(0, 0, 0, 0.212);
    }
  }
  .color-tit{
    padding-left: 25rpx;
    height: 30PX;
    line-height: 32PX;
  }
  .color-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-left: 25rpx;
    padding-bottom: 30PX;
    .color-cir{
      width: 60rpx;
      height: 60rpx;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 11rpx 0;
      margin-right: 20rpx;
    }
  }
  .bottom_btn{
    width: 100px;
    height: 100px;
    background-image: url(cloud://luv-diary-3gasftpi3ec96df4.6c75-luv-diary-3gasftpi3ec96df4-1305177414/1615879781184.jpeg);
    background-size: 100% 100%;
  }
}
.demo-text{
  border: 1px solid red;
  width: 360rpx;
}