
.index{
  font-size: 14PX;
  position: relative;
  overflow: hidden;
  .year_cho{
    width: auto;
    position: absolute;
    height: 100px;
    width: 100px;
    left: calc(50% - 50px);
    display: grid;
    place-items: center;
    padding-top: 20PX;
    .year_txt{
      font-size: 25PX;
      font-weight: 700;
    }
  }
  .swiper{
    position: absolute;
    top:20vh;
    width: 100%;
    overflow: visible;
    height: 58vh;
  }
  .s_item{
    overflow: visible;
    padding-top: 25PX;
    display: flex;
    justify-content: center;
  }
  .open_cal{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80vh;
    width: 160px;
    left: calc(50% - 80px);
    .open_btn{
      width: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10PX;
      padding: 2PX 8PX;
      padding-top: 3PX;
      border-radius: 20PX;
      color: #888888;
      border: 1px solid rgba(0, 0, 0, 0.212);
      transition: background .4s linear;
    }
    .front {
      color: #888888;
      background: #fff;
    }
    .back{
      color: #fff;
      background: #000;
    }
  }
  .color-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 25rpx;
    margin-top: -2vh;
    .color-cir{
      width: 60rpx;
      height: 60rpx;
      border-radius: 50%;
      margin: 11rpx 0;
      margin-right: 20rpx;
    }
  }
}
.demo-text{
  border: 1px solid red;
  width: 360rpx;
}